@font-face {
    font-family:airstream ;
    src: url(fonts/Airstream-webfont.eot);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.eot);
    src: url(fonts/LAKESHOR-webfont.woff);
}

html{
    height: 100%;

}
body{
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo{
    display: block;
    text-align: center;
    background-color: purple;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    font-family: airstream;
    

}
.main-class{
    display: flex;
    flex-direction: column;

}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    

}    
.details-image{
    width: 60vw;
    height: 40vw;
    border-radius: 25%;
}
.details-title{
    display: block;
    background-color: purple;
    margin-top: 1px;
    color: white;
    font-family: airstream;

}
.thumbnails-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    
}
.thumbnails-item{
    display: block;
    border: solid 2px blueviolet;
    margin-top: 2vh;
    width: 25vw;
    height: 25vw;
    border-radius: 20%;
    overflow: hidden;
}
.thumbnails-anchor{
  display: block;
  overflow-wrap: break-word;
  text-decoration: none;
  color: white;
  font-family: airstream;

}
.thumbnails-image{
    display: block;
    width: 25vw;
    height: 16vw;
    padding: 0px;
    margin: 0%;
}
.thumbnails-title{
    height: 15vw;
    display: block;
    text-align: center;
    background-color: purple;
    
   
    
}
@media (min-width:560px){
    .main-class{
        flex-direction: row;
        align-items: flex-start;
    }
    .thumbnails-list{
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        justify-content: flex-start;
        

    }
    .thumbnails-item{
    min-height: 10vw;
}
.thumbnails-title{
   min-height: 100vw;
}
.logo{
    height: 15%;
    text-align: center;
}
.details-container{
    margin-left: 15vw;
}
.details-image{
    width: 45vw;
    height: 30vw;
    border-radius: 25%;
}
.thumbnails-image{
    display: block;
    width: 15vw;
    height: 10vw;
    padding: 0px;
    margin: 0%;
}
.thumbnails-item{
    display: block;
    border: solid 2px blueviolet;
    width: 15vw;
    min-height: 15vw;
    border-radius: 25%;
    overflow: hidden;
}
.details-title{
width: 25vw;
text-align: center;
}
}
