.word{
    display: flex;

}
.letter{
    justify-content: center;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    background-color: black;
    color: black;
    width: 5vw;
    height: 5vw;
    font-size: 2em;
    border: 10px;
    
    

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#play-again{

    display: block;
    width: 30vw;

}
